{% extends 'products/base.html' %}
{% load bootstrap4 %}


{% block title %}
<h2>{{ product.name }}</h2>
<h5>{{ product.review_set.count }} reviews ({{ product.average_rating | floatformat }} average rating)</h5>
<!--container.//-->
{% endblock %}

{% block content %}


<div class="container my-5">

	
<div class="card">
	<div class="row">
		<aside class="col-sm-5 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap">
  <div> <a href="#"><img src="{{product.image.url}}" class="card-img-top" alt=""style="width: 300px px-5"> </a></div>
</div> <!-- slider-product.// -->
</article> <!-- gallery-wrap .end// -->
		</aside>
		<aside class="col-sm-7">
<article class="card-body p-5">

	<h3 class="title mb-3">{{ object.name }}</h3>
	<p class="title mb-3">{{ object.created_at }}</p>
<p class="price-detail-wrap"> 
	<span class="price h3 text-warning"> 
		<span class="currency">US $</span><span class="num">{{ object.price }}</span>
	
</p> <!-- price-detail-wrap .// -->
<dl class="item-property">
  <dt>Description</dt>
  <dd><p>{{ object.preview_text }}</p></dd>
  <dd><p>{{ object.detail_text }}</p></dd>
</dl>

	<a href="{% url 'products:cart' object.slug %}" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Add to cart </a>
	<a href="{% url 'products:decrease-cart' object.slug %}" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Decrease cart </a>
	<a href="{% url 'products:remove-cart' object.slug %}" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Remove from cart </a>
</article> <!-- card-body.// -->
		</aside> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->



</div>

<!--container.//-->
{% endblock %}



